:root {
  --primaryColor: #f0f5f9;
  --secondaryColor: #1e2022;
  --secondaryColorGreen: #6d988675;
  --primaryColorGreen: #6d9886;
}
.container-1 {
  background-color: #f8f9fa;
}
.introduction {
  text-align: center;
  padding: 50px;
  display: block;
  margin-top: 50px;
}
.buttonContact {
  text-decoration: none;
  padding: 15px 15px;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  background: var(--secondaryColorGreen);
  margin: auto 30px;
}
.buttonContact:hover {
  color: var(--primaryColorGreen);
  border: 1px solid var(--primaryColorGreen);
  background-color: transparent;
  transition: all 100ms ease-in-out;
}

.buttonAbout {
  text-decoration: none;
  padding: 15px 15px;
  border: 1px solid var(--primaryColorGreen);
  color: var(--primaryColorGreen);
  border-radius: 10px;
  margin: auto 30px;
  font-weight: bolder;
}
.buttonAbout:hover {
  background: var(--secondaryColorGreen);
  color: white;
  transition: all 100ms ease-in-out;
}
.intro-text {
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  font-style: italic;
}
.subtitle {
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

h1 {
  font-size: 500px;
}
.introduction h2 {
  font-weight: lighter;
}
.about {
  margin-top: 80px;
}
footer {
  margin: 50px auto;
  padding: 20px;
  background: var(--secondaryColorGreen);
  text-align: center;
  border-radius: 2%;
}
.contact {
  margin-top: 40px;
}
footer .contact a {
  margin: 0 20px;
  background: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .contact a:hover {
  background: var(--primaryColorGreen);
  color: var(--primaryColor);
}
.headline {
  text-align: center;
}
.headline-projects {
  margin: 50px auto;
}
.c-projects {
  margin-top: 80px;
}
h3 {
  text-align: center;
}
.imageLink {
  text-decoration: none;
  color: var(--secondaryColor);
}
.imageLink:hover {
  color: var(--primaryColorGreen);
}
@media (max-width: 576px) {
  .container {
    text-align: center;
  }
  .image {
    display: none;
  }
}
.me {
  border-radius: 50%;
}
.moreProjects {
  color: var(--primaryColorGreen);
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: 30px auto;
}
.moreProjects:hover {
  color: var(--secondaryColor);
}
small {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
