:root {
  --primaryColor: #f0f5f9;
  --secondaryColor: #1e2022;
}
.container-1 {
  background-color: var(--primaryColor);
}
.introduction {
  text-align: center;
  padding: 70px;
  margin: auto 50px;
}
.intro-text {
  font-style: italic;
  font-weight: lighter;
}
h1 {
  font-size: 500px;
}

.about {
  margin-top: 80px;
}
.contact {
  margin: 50px auto;
  background: var(--primaryColor);
  text-align: center;
}
.headline {
  text-align: center;
}
.c-projects {
  margin: 80px;
}

@media (max-width: 576px) {
  .container {
    text-align: center;
  }
}
