:root {
  --primaryColor: #f0f5f9;
  --secondaryColor: #1e2022;
}
.container-1 {
  background-color: var(--primaryColor);
}
.introduction {
  text-align: center;
  padding: 70px;
  margin: auto 50px;
}
.intro-text {
  font-size: 23px;
  font-weight: lighter;
}
h1 {
  font-size: 500px;
}
.introduction h2 {
  font-weight: lighter;
}
.about {
  margin-top: 80px;
}
footer {
  margin: 50px auto;
  padding: 20px;
  background: var(--primaryColor);
  text-align: center;
  border-radius: 2%;
}
.contact {
  margin-top: 40px;
}
footer .contact a {
  margin: 0 20px;
  background-color: var(--secondaryColor);
  color: white;
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 18px;
}
.headline {
  text-align: center;
}
.headline-projects {
  margin: 50px auto;
}
.c-projects {
  margin: 80px;
}

@media (max-width: 576px) {
  .container {
    text-align: center;
  }
  .image {
    display: none;
  }
}
