:root {
  --primaryColor: #f0f5f9;
  --secondaryColor: #1e2022;
  --secondaryColorGreen: #6d988675;
  --primaryColorGreen: #6d9886;
}
.container-1 {
  background-color: var(--secondaryColorGreen);
}
.introduction {
  text-align: center;
  padding: 30px;
  margin: 50px;
}
.intro-text {
  font-size: 23px;
  font-weight: lighter;
}
h1 {
  font-size: 500px;
}
.introduction h2 {
  font-weight: lighter;
}
.about {
  margin-top: 80px;
}
footer {
  margin: 50px auto;
  padding: 20px;
  background: var(--secondaryColorGreen);
  text-align: center;
  border-radius: 2%;
}
.contact {
  margin-top: 40px;
}
footer .contact a {
  margin: 0 20px;
  background: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .contact a:hover {
  background: var(--primaryColorGreen);
  color: var(--primaryColor);
}
.headline {
  text-align: center;
}
.headline-projects {
  margin: 50px auto;
}
.c-projects {
  margin: 80px;
}

@media (max-width: 576px) {
  .container {
    text-align: center;
  }
  .image {
    display: none;
  }
}
.me {
  border-radius: 50%;
}
.moreProjects {
  color: var(--primaryColorGreen);
  text-decoration: none;
  font-size: 20px;
}
.moreProjects:hover {
  color: var(--secondaryColor);
}
small {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
