:root {
  --primaryColor: #f0f5f9;
  --secondaryColor: #1e2022;
}
.container-1 {
  background-color: var(--primaryColor);
}
.introduction {
  text-align: center;
  padding: 70px;
  margin: auto 50px;
}
.intro-text {
  font-style: italic;
  font-weight: lighter;
}
h1 {
  font-size: 500px;
}
.container {
  margin: 20px auto;
}
.img-center {
  padding: 20px;
}
